* {
    margin: 0% 0%;
    padding: 0% 0%;
}

body {
    background-color: black;
    height: 100vh;
    padding: 2% 2%;
    color: white;
}

/* Floatable Panel*/
@media (max-width: 768px) {
    .contactNow {
        bottom: 0%;
    }
}

.contactNow {
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    top: 0%;
    right: 0%;
    line-height: 50px;
    width: 20%;
    align-items: flex-end;
    justify-content: flex-end;


}

.contactNow div {
    background-color: red;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
}

.contactNow div a {
    color: white;
    display: block;
}

/*Profle Summaru CSS Starts*/

.profile-summary {
    font-family: 'Trebuchet MS';
    padding: 5% 5% 5% 5%;
}

.profile-pic {
    border-radius: 50%;

}

.profile-summary-para {
    font-size: 2em;
}

.social-media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.social-media div {
    text-align: center;
    width: 100%;
    font-size: 2em;
}

.social-media div a {
    display: block;
    transition: all 0.5s;
}

.social-media div a:hover {
    background-color: whitesmoke;
}

.fa-instagram {
    color: brown;
}

.fa-youtube {
    color: red;
}

.fa-github {
    color: gray;
}

.fa-linkedin {
    color: #0077b5
}


/*Project Details*/

.section-header {
    text-align: center;
    padding-top: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    font-size: 2em;
    border-bottom: 2px solid white;
   
}
.project-content{
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}
.project-article{
    align-items: center;
    float: left;
}